body, #main {
    background-color: darkorange;
    margin: 0;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(5,auto);
    float: right;
    margin-right: 10%;
    width: 420px;
    height: 415px;
}
.square {
    background-color: white;
    display: inline-block;
    vertical-align: top;
    border: 1px solid grey;
    /* width: 1.5em;
    height: 1.5em; */
}

.blueBackground {
    background-color: blue;
}
li {
    display: inline-block;
    margin: 0.1em;
    margin-top: 10%;
}
#main {
    margin-top: 5%;
    display: inline-block;
    width: 100%;
}
.options {
text-align: center;
}
#top p {
    font-size: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#top {
    display: flex;
    position: relative;
    background-color: olive;
}